<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>

<div class="row col-sm-offset-2 col-sm-8" style="background-color: whitesmoke">
    <div class="col-sm-1">
        <button ng-click="previous()"
                class="glyphicon glyphicon-chevron-left"></button>
    </div>
    <div class="col-sm-10" align="center">
        <img src={{$scope.photos[$rootScope.photoIndex].picture}} style="width:300px;height:320px;">
    </div>
    <div class="col-sm-1">
        <button ng-click="next()"
                class="glyphicon glyphicon-chevron-right"></button>
    </div>
</div>
<div class="login container-fluid col-sm-offset-2  col-sm-8" style="background-color: whitesmoke">
<table class="table-responsive table-striped" style="width: 100%">
    <thead>
    </thead>
    <tbody>
    <tr ng-repeat="comment in comments">
        <td ng-hide="currentUser.username==comment.username">
            &nbsp;
        </td>
        <td ng-show="currentUser.username==comment.username">
            <button ng-click="deleteCommentById(comment._id)"
                    class="glyphicon glyphicon-remove"></button>
        </td>
        <td><strong>{{comment.username}}: </strong></td>
        <td>{{comment.message}}</td>
    </tr>
    </tbody>
</table>
    <div class="row">
        <div class="col-sm-10">
                <input  ng-model="message"
                        type="text" class="form-control">
        </div>
        <div class="col-sm-2">
                <button ng-click="createMessage(message)"
                        class="btn-sm glyphicon glyphicon-send"></button>
        </div>
    </div>
</div>

</body>
</html>