body{
    background-color: whitesmoke;
}

h1{
    background-color: mediumseagreen;
    color: whitesmoke;
    border-style: groove;
    border-color: seagreen;
    text-align: center;
    margin-top: 0px;
    margin-left: 0px;
    margin-right:0px;
    margin-bottom:5px;


}

#nav{
    float: left;
    background-color: mediumseagreen;
    border-style: groove;
    border-color: seagreen;
    padding-left: 4px;
    padding-right: 4px;
    margin-top: 0px;
}

#body{
    float: left;
    background-color: white;
    padding-left: 25px;
    padding-right: 25px;
    width:700px;
    height: 500px;
    position: relative;

}

#about{
    right:0px;
    float: left;
    margin:2px;
    background-color: white;
    width:200px;
    height:500px;

}

table#navtable{
    width: 150px;
    height: 500px;

}

#about_me{

    padding:5px;
    width:190px;
    height:200px;
}


table#navtable td{
    text-align: center;
    #border-bottom: solid 1px;
    #border-color: #22d15c;
    padding:0px

}

a:link{
    background-color: mediumseagreen;
    border-style: outset;
    text-decoration: none;
    color: whitesmoke;
    padding: 25px;
}

a:visited{
    background-color: mediumseagreen;
    text-decoration: none;
    color: white;
    padding: 25px;
}

a:hover{
    background-color: #22d15c;
}

a:active{
    background-color: #22d15c;
    border-style: inset;
    text-decoration: none;
    color: whitesmoke;
    padding: 25px;
}