body{
    background-color: whitesmoke;
}

h1{
    background-color: mediumseagreen;
    color: whitesmoke;
    border-style: groove;
    border-color: seagreen;
    text-align: center;


}

#nav{
    float: left;
    background-color: mediumseagreen;
    margin:0;
}

.nav-sidebar{
    margin-right: -21px; /* 20px padding + 1px border */
    margin-bottom: 20px;
    margin-left: -20px;
}
.nav-sidebar > li > a,
.nav-sidebar > li >  a:hover,
.nav-sidebar > li >  a:focus {
    background-color: #6bb590;
    text-decoration: none;
    color: whitesmoke;
    margin:0;
}
.nav-sidebar > li > a:hover{
    color: #6bb590;
}

#body{
    background-color: #6bb590;
}

#about{
    background-color: #6bb590;
}

.Header{
    background-color: #6bb590;
}

