

body{
    background-color: #FFC2C2;
    padding-top: 75px;
}

a:link{
    color: whitesmoke;
    background-color: firebrick;
    text-decoration: none;
}

a:hover{
    color: whitesmoke;
    background-color: firebrick;
    text-decoration: none;
}

a:active{
    color:  whitesmoke;
    background-color: firebrick;
    text-decoration: none;
}

a:visited{
    color: whitesmoke !important;
    text-decoration: none !important;
    background-color: firebrick;
}


.navbar{
    background-color: firebrick;
    height:60px;
}

.navbar-brand{
    font-size: 15px;
}

.navbar-form{
    padding:10px;
}

.nav-button{
    background: transparent;
    border: none !important;
}

#navbar > ul > li > a:link{
    color: whitesmoke;
    background-color: firebrick;
}

#navbar > ul > li > a:hover{
    color: whitesmoke !important;
    background-color: firebrick;
}

#navbar > ul > li > a:active{
    color:  whitesmoke !important;
    background-color: firebrick;
}

#navbar > ul > li > a:visited{
    color: #FAB6B6;
    background-color: firebrick;
}

.navbar-title{
    float: left;
    color: white;
    font-family: "Marker Felt";
    padding:20px;
    background-color: transparent !important;
}

.wrapper {
    background-color: transparent;
    display:inline-block;
}

.login{
    background-color: firebrick;
    -webkit-border-radius:30px;
    -moz-border-radius:30px;
    border-radius:30px;
}

.login-fields{

    margin-top: 20px;

}


.login-link{

    padding-left:30px;
    padding-right:30px;
}

.nav-login li{
    display: table-cell;
    width: 50%;
    height: auto;
    vertical-align: bottom;
}




