<!DOCTYPE html>
<html lang="en">
<head>

</head>
<body>

<nav    ng-controller="HeaderController"
        class="navbar navbar-fixed-top">
    <div class="container-fluid">

    <div class="row">

        <div >
            <div align="center">
                <a href="#/home" class="text-primary nav navbar-left navbar-title"> Art Gallery </a>
            </div>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li     ng-hide="currentUser"
                        ng-class="{'active' : $location.url() == '/login'}">
                    <a href="#/login">Login</a></li>
                <li     ng-hide="!currentUser"
                        ng-click="logout()">
                    <a href="#/home">Logout</a></li>
                <li     ng-hide="!currentUser"
                        ng-class="{'active' : $location.url() == '/profile'}">
                    <a href="#/profile">Profile</a></li>
                <li     ng-show="currentUser.role[0]=='admin'"
                        ng-class="{'active' : $location.url() == '/profile-admin'}">
                    <a href="#/profile-admin">Admin</a>
                </li>
            </ul>
        </div>
    </div>

    </div>
</nav>

</body>
</html>