
<!DOCTYPE html>
<html lang="en">
<head>
</head>

<body>
<div class="container-fluid">
            <h1 class="page-header">Welcome {{$rootScope.currentUser.firstName}}!</h1>

            <div class="row">
                <div class="col-xs-6 col-sm-3">
                    <h5>Username:</h5>
                </div>
                <div class="col-xs-18 col-sm-9">
                    <input ng-model="user.username" placeholder={{profileUser.username}}>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6 col-sm-3">
                    <h5>Password:</h5>
                </div>
                <div class="col-xs-18 col-sm-9">
                    <input ng-model="user.password" placeholder={{profileUser.password}}>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6 col-sm-3">
                    <h5>First Name:</h5>
                </div>
                <div class="col-xs-18 col-sm-9">
                    <input ng-model="user.firstName" placeholder={{profileUser.firstName}}>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6 col-sm-3">
                    <h5>Last Name:</h5>
                </div>
                <div class="col-xs-18 col-sm-9">
                    <input ng-model="user.lastName" placeholder={{profileUser.lastName}}>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6 col-sm-3">
                    <h5>Roles:</h5>
                </div>
                <div class="col-xs-18 col-sm-9">
                    <input ng-model="user.roles" placeholder={{profileUser.roles}}>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-offset-6  col-sm-offset-3 col-xs-18 col-sm-9">
                    <button ng-click="update(user)"> UPDATE </button>
                </div>
            </div>

        </div>

</body>
</html>
