<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>

<div class="login container-fluid col-sm-offset-3  col-sm-6">

    <div align="center" class="login-link">
        <div class="row">
            <input class="login-fields form-control" type="text" placeholder="Username">
        </div>
        <div class="row">
            <input class="login-fields form-control" type="text" placeholder="Password">
        </div>
    <button class="login-fields">Login</button>
    <hr>
        <ul class="nav navbar-nav">
            <li ng-class="{'active' : $location.url() == '/login'}"><a href="#/login">Login</a></li>
            <li ng-class="{'active' : $location.url() == '/register'}"><a href="#/register">Register</a></li>
        </ul>
    </div>

</div>

</body>
</html>