<!DOCTYPE html>
<html lang="en">
<head>

</head>
<body>

<nav class="navbar navbar-fixed-top">
    <div class="container-fluid">


            <form class="wrapper navbar-form navbar-left">
                <input type="text" class="form-control" placeholder="Search...">
                <button class="glyphicon glyphicon-search nav-button" aria-hidden="true"></button>
            </form>

        <div class="text-primary nav navbar-left navbar-title">
            THIS IS THE TITLE
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li ng-class="{'active' : $location.url() == '/login'}"><a href="#/login">Login</a></li>
                <li ng-class="{'active' : $location.url() == '/profile'}"><a href="#/profile">Profile</a></li>
            </ul>
        </div>

    </div>
</nav>

</body>
</html>